<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<form th:action="@{/private/upload}" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>File to upload:</td>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Upload"/></td>
        </tr>
    </table>
</form>
</body>
</html>