<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Articles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/sort :: sortArticles"></div>
<table th:each="article,stat : ${pagination.entities}">
    <tr>
        <td></td>
        <td>Date</td>
        <td>Article name</td>
        <td>Author name</td>
        <td>Author surname</td>
        <td>Count views</td>
        <td>Count comments</td>
    </tr>
    <tr>
        <td><span th:text="${stat.count}"></span></td>
        <td><span th:text="${article.date}"></span></td>
        <td><span th:text="${article.name}"></span></td>
        <td><span th:text="${article.user.name}"></span></td>
        <td><span th:text="${article.user.surname}"></span></td>
        <td><span th:text="${article.countViews}"></span></td>
        <td><span th:text="${article.comments.size()}"></span></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="5">
            <a th:href="@{/private/articles/{id} (id=${article.id})}">
                <span th:text="${article.annotation}"></span>
            </a>
        </td>
        <td sec:authorize="hasAuthority('Sale User')" align="middle">
            <a th:href="@{/private/articles/{id}/delete (id=${article.id})}">Delete</a>
        </td>
    </tr>
</table>
<div th:replace="fragments/paginator :: articlePaginator"></div>
</body>
</html>