<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:if="${message}">
    Message send to email!
</div>
<table>
    <form action="#" th:action="@{/private/users/{id}/update (id=*{id})}" th:object="${user}" method="post">
        <tr>
            <td>Name:</td>
            <td><span th:text="*{name}"></span></td>
            <td><input type="text" th:field="*{name}" th:value="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><span th:text="*{surname}"></span></td>
            <td><input type="text" th:field="*{surname}" th:value="*{surname}"/></td>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><span th:text="*{email}"></span></td>
            <input type="hidden" th:field="*{email}" th:value="*{email}"/>
        </tr>
        <tr>
            <td>Address:</td>
            <td><span th:text="*{address}"></span></td>
            <td><input type="text" th:field="*{address}" th:value="*{address}"/></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><span th:text="*{phone}"></span></td>
            <td><input type="text" th:field="*{phone}" th:value="*{phone}"/></td>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>
                <select th:field="*{role.id}">
                    <option th:each="role : ${roles}"
                            th:value="${role.id}" th:text="${role.name}"
                            th:selected="${role.id == user.role.id}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Update user</button>
            </td>
        </tr>
    </form>
    <form action="#" th:action="@{/private/users/{id}/password (id=${user.id})}" method="post">
        <tr>
            <td>
                <button type="submit">Change password</button>
            </td>
        </tr>
    </form>
</table>
</body>
</html>