<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:if="${message}">
    Message send to email!
</div>
<table>
    <form action="#" th:action="@{/private/administrator/users/update (id=${user.id})}" th:object="${user}" method="post">
        <tr>
            <td>Surname:</td>
            <td><span th:text="${user.surname}"></span></td>
            <td><input type="text" th:field="*{surname}" th:value="*{surname}"/></td>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><span th:text="${user.name}"></span></td>
            <td><input type="text" th:field="*{name}" th:value="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Patronymic:</td>
            <td><span th:text="${user.patronymic}"></span></td>
            <td><input type="text" th:field="*{patronymic}" th:value="*{patronymic}"/></td>
            <td th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic Error</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td><span th:text="${user.roleName}"></span></td>
            <td>
                <select name="roleName">
                    <option th:each="roleName : ${roles}"
                            th:value="${roleName}" th:text="${roleName}"
                            th:selected="${roleName == user.roleName}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Role Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Update user</button>
            </td>
        </tr>
        <input type="hidden" th:field="*{email}" th:value="*{email}"/>
    </form>
    <form action="#" th:action="@{/private/administrator/users/message (id=${user.id})}" method="post">
        <tr>
            <td>
                <button type="submit">Change password</button>
            </td>
        </tr>
    </form>
</table>
</body>
</html>