<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table th:fragment="userPaginator">
    <tr>
        <td th:each="page : ${#numbers.sequence(1, pagination.countPages)}">
            <a th:href="@{/private/administrator/users(page=${page})}" th:text="${page}"></a>
        </td>
    </tr>
</table>
<table th:fragment="reviewPaginator">
    <tr>
        <td th:each="page : ${#numbers.sequence(1, pagination.countPages)}">
            <a th:href="@{/private/administrator/reviews(page=${page})}" th:text="${page}"></a>
        </td>
    </tr>
</table>
</body>
</html>