<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:if="${message}">
    Review deleted!
</div>
<form action="#" th:action="@{/private/administrator/reviews/display}" method="post">
    <table th:each="review,stat : ${reviews}">
        <tr>
            <td></td>
            <td>Surname</td>
            <td>Name</td>
            <td>Patronymic</td>
            <td>Date</td>
            <td>Display</td>
            <td>Change display</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td><span th:text="${stat.count}"></span></td>
            <td><span th:text="${review.user.surname}"></span></td>
            <td><span th:text="${review.user.name}"></span></td>
            <td><span th:text="${review.user.patronymic}"></span></td>
            <td><span th:text="${review.date}"></span></td>
            <td><span th:text="${review.display}"></span></td>
            <td>
                <label><input type="checkbox" name="reviewsId" th:value="${review.id}"/>change</label>
            </td>
            <td>
                <a th:href="@{/private/administrator/reviews/delete (id=${review.id})}">delete</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><span th:text="${review.text}"></span></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Change display selected reviews:</td>
            <td>
                <button type="submit">Change</button>
            </td>
        </tr>
    </table>
</form>
<div th:replace="fragments/paginator :: reviewPaginator"></div>
</body>
</html>