<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:if="${message}">
    Comment deleted!
</div>
<form action="#" th:action="@{/private/comments/display}" method="post">
    <table th:each="comment,stat : ${comments}">
        <tr>
            <td></td>
            <td>Surname</td>
            <td>Name</td>
            <td>Patronymic</td>
            <td>Date</td>
            <td>Display</td>
            <td>Change display</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td><span th:text="${stat.count}"></span></td>
            <td><span th:text="${comment.user.surname}"></span></td>
            <td><span th:text="${comment.user.name}"></span></td>
            <td><span th:text="${comment.user.patronymic}"></span></td>
            <td><span th:text="${comment.date}"></span></td>
            <td><span th:text="${comment.display}"></span></td>
            <td>
                <label><input type="checkbox" name="commentsId" th:value="${comment.id}"/>change</label>
            </td>
            <td>
                <a th:href="@{/private/comments/{id}/delete (id=${comment.id})}">delete</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><span th:text="${comment.text}"></span></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Change view comments:</td>
            <td>
                <button type="submit">Change</button>
            </td>
        </tr>
    </table>
</form>
<div th:replace="fragments/paginator :: commentPaginator"></div>
</body>
</html>